;帐户类型
AccountType=Lottoqq.Account.AccountImpl

;交易记录数据库
DBAddress=127.0.0.1
DBPort=3306
DBUser=root
DBPass=123456
DBName=develop

;opposite server
OppositAddress1=192.168.2.180
CorePort=4080

