<html>
<head>
<title>确认入金信息</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link type="text/css" href="/css/uikit.min.css"  rel="Stylesheet" />
	<link rel="icon" href="/images/favicon.ico"/>
	<script src="/js/uikit.min.js"></script>
</head>
<body>
<body class="uk-height-1-1">
	<div class="uk-text-center uk-height-1-1">
	<div class="uk-vertical-align-middle" style="width: 400px;">
	<p>入金工单已提交,客服会尽快处理</p>
<table class="uk-table uk-table-striped">
	<tr><td>交易帐号:</td><td>{{data.Account}}</td></tr>
	<tr><td>出入金编号:</td><td>{{data.Trans_ID}}</td></tr>
	<tr><td>操作:</td><td>{{data.Cash_Operation}}</td></tr>
	<tr><td>金额:</td><td>{{data.Amount}}</td></tr>
	<tr><td>入金银行:</td><td>{{data.Recv_Account}}</td></tr>
</table>


	</div>

</div>
</div>
</body>
</html>