<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="Contrib" />
    </assemblyBinding>
  </runtime>
  <autofac>
    <components>
      <component type="TradingLib.ServiceManager.CoreManager,TradingLib.ServiceManager" service="TradingLib.API.ICoreManager" />
      <component type="TradingLib.ServiceManager.ConnectorManager,TradingLib.ServiceManager" service="TradingLib.API.IConnectorManager" />
      <component type="TradingLib.ServiceManager.ContribManager,TradingLib.ServiceManager" service="TradingLib.API.IContribManager" />

      <component type="TradingLib.Core.BrokerRouter,TradingLib.Core" service="TradingLib.API.IBrokerRouter" />
      <component type="TradingLib.Core.DataFeedRouter,TradingLib.Core" service="TradingLib.API.IDataRouter" />

      <component type="TradingLib.Core.ExCoreNoTrading,TradingLib.Core" service="TradingLib.API.IModuleExCore" />
      <component type="TradingLib.Core.SettleCentre,TradingLib.Core" service="TradingLib.API.IModuleSettleCentre" />
      <component type="TradingLib.Core.AccountManager,TradingLib.Core" service="TradingLib.API.IModuleAccountManager" />
      <component type="TradingLib.Core.ClearCentre,TradingLib.Core" service="TradingLib.API.IModuleClearCentre" />
      <component type="TradingLib.Core.TaskCentre,TradingLib.Core" service="TradingLib.API.IModuleTaskCentre" />
      <component type="TradingLib.Core.RiskCentre,TradingLib.Core" service="TradingLib.API.IModuleRiskCentre" />
      <component type="TradingLib.Core.WebMsgExchServer,TradingLib.Core" service="TradingLib.API.IModuleAPIExchange" />
      <component type="TradingLib.Core.DataRepository,TradingLib.Core" service="TradingLib.API.IModuleDataRepository" />
    </components>
  </autofac>
</configuration>
