<html>
<head>
<title>订阅通知消息</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link type="text/css" href="/css/uikit.min.css"  rel="Stylesheet" />
	<link rel="icon" href="/images/favicon.ico"/>
	<script src="/js/uikit.min.js"></script>
</head>
<body>
<body class="uk-height-1-1">
	<div class="uk-text-center uk-height-1-1">
	<div class="uk-vertical-align-middle" style="width: 400px;">
	<p>感谢您的订阅,系统将会将出入金等重要通知发送到您的邮箱:{{email}}</p>
	</div>

</div>
</div>
</body>
</html>