<html>
<head>
<title>Example page</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link type="text/css" href="/styles/screen.css"  rel="Stylesheet" />
<link rel="icon" href="/images/favicon.ico"/>
<link rel="shortcut icon" href="/images/favicon.ico"/>
</head>
<body>
<p></p>
<li>:{{data.Account}}</li>
<li>:{{data.Trans_ID}}</li>
<li>:{{data.Cash_Operation}}</li>
<li>:{{data.Amount}}</li>


<form name='pay' method="post" action="http://vgw.baofoo.com/payindex">
    <input name='MemberID' type='hidden' value= "{{data.Member_ID}}"/>
	<input name='TerminalID' type='hidden' value= "{{data.Terminal_ID}}"/>
	<input name='InterfaceVersion' type='hidden' value= "{{data.Interface_Version}}"/>
	<input name='KeyType' type='hidden' value= "{{data.Key_Type}}"/>
	<input name='PayID' type='hidden' value= "{{data.Pay_ID}}"/>		
	<input name='TradeDate' type='hidden' value= "{{data.Trade_Date}}" />
	<input name='TransID' type='hidden' value= "{{data.Trans_ID}}" />
	<input name='OrderMoney' type='hidden' value= "{{data.Order_Money}}"/>
	<input name='NoticeType' type='hidden' value= "{{data.Notice_Type}}"/>
	<input name='PageUrl' type='hidden' value= "{{data.Page_Url}}"/>
	<input name='ReturnUrl' type='hidden' value= "{{data.Return_Url}}"/>	
	<input name='Signature' type='hidden' value="{{data.Signature}}"/>
	<input value="确认提交" type="submit" />
</form>
	
	
</body>
</html>